$--leit-white:#fff;
$--leit-accent-1:#FAFAFA;
$--leit-accent-2:#EAEAEA;
$--leit-accent-3:#999;
$--leit-accent-4:#888;
$--leit-accent-5:#666;
$--leit-accent-6:#444;
$--leit-accent-7:#333;
$--leit-accent-8:#111;
$--leit-dark:#000;

$--leit-error-lightest:#f7d4d6;
$--leit-error-light:#FF1A1A;
$--leit-error-default:#E00;
$--leit-error-dark:#C50000;

$--leit-success-lightest:#D3E5FF;
$--leit-success-light:#3291FF;
$--leit-success-default:#0070F3;
$--leit-success-dark:#0761D1;

$--leit-warning-lightest:#FFEFCF;
$--leit-warning-light:#F7B955;
$--leit-warning-default:#F5A623;
$--leit-warning-dark:#AB570A;

$--leit-violet-lightest:#E3D7FC;
$--leit-violet-light:#8A63D2;
$--leit-violet-default:#7928CA;
$--leit-violet-dark:#E3D7FC;

$--leit-cyan-lightest:#AAFFEC;
$--leit-cyan-light:#79FFE1;
$--leit-cyan-default:#50E3C2;
$--leit-cyan-dark:#29BC9B;

$--leit-purple:#F81CE5;
$--leit-pink:#FF0080;
